html, body {
    height: 100%;
    margin: 0;
    padding-top: 0px; /*was 15*/
}
    
#map {
    width: 100%;
    height: 100%;
}

#canvasChart {
    background-color: whitesmoke;
    padding:5px; 
    /*margin:5px;*/
    /*background-image: url('/img/graph.png');*/
}

#equation {
    background-color: whitesmoke;  
    font-family: 'Poppins', sans-serif; 
    font-size: 15;
    color: rgb(40, 152, 77);
    text-align: center;
}
#correlation {
    background-color: whitesmoke;  
    font-family: 'Poppins', sans-serif; 
    font-size: 15;
    color: rgb(40, 152, 77);
    text-align: center;
}
#chartPlaceholder {
    font-family: 'Poppins', sans-serif; 
    font-size: 17;
    color: rgb(40, 152, 77);
    text-align: center;
}
#input-box {
    /*display: inline;*/
    /*color: blue;
    font-size: 30px;*/
    margin-left: 15px;
    margin-right:15px;
    width: 85%;  /*was 30*/

}   
#input-box-contents {
    color: rgba(0,0,0,1.0);
    font-size: 20px;
    width: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 750px;
    display: flex;

} /*was 550*/
.row.content2 {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    /*display:-ms-inline-grid;*/
} 

/* Set gray background color and 100% height */
.sidenav {
    background-image: url('img/waterLt.png');
    /*background-color: #f1f1f1;*/
    /*height: 750px; /*was550*/
    height: auto;
    padding-top:8px;
}
.col-sm-4 {
    margin-right: 15px;
}
/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    height: auto;
    color: white;
    /*width: 100%;*/
    padding-right: 0;
    padding: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
    
}
.row.content {height: auto;} 
}

.info { 
    padding:8px 11px; 
    font: 12px/18px; 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
} 

.info h4 {
    margin: 0 0 5px;
    font:14px;
     /*color:#fff;*/
     color: rgb(42, 42, 42);
}
.info h5 {
margin: 0 0 5px;
/*color:#fff;
color: rgb(55,55,55);*/
}

.legend { 
    text-align: left;
    line-height: 17px; 
    border-radius: 5px;
    color: #fff;
    /*background-color: slategrey;
    background-color: rgb(141, 154, 166);*/
}

.legend i { 
    width: 10px;
    height: 13px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
    background-color: slategrey;
    background-color: rgb(141, 154, 166);
}

.leaflet-top, .leaflet-right{
    margin: 10px;
    font-size: 13px;
    text-align: left;  /*was center*/
}

/*panel added styles*/
.wisctitle, .wiscintro {
    font-family: 'Poppins', sans-serif;

}
.wisctitle{
    font-size:  23px;  
    text-align: center;
    margin-top: 15px;
}
#wiscinfo {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
    font-size: 17px;
}
